/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}
body {
  background-color: #aaa;
  background-size: 340px, auto;
  margin: 50px;
}
/* Each item in the grid contains numbers */
.item {
  /* Center the contents of the grid items. Make each grid item a Flex
    Container */
  display: flex;
  /* Horizontal and Vertical centering */
  justify-content: center;/* Horizontal*/
  align-items: center;/*Vertical centering */
  border: 5px solid lightgoldenrodyellow;
  border-radius: 3px;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  background-color: lightgrey;
}
